.background-green {
    color: $white;
    background-color: $primarycolor;
}

.row-text {
    text-align: center;
    padding: 50px;
    
    h4 {
        padding: 10px;
        font-size: 23px;
    }
    
    p {
        padding: 15px;
    }
}