.background-green {
    color: $white;
    background-color: $primarycolor;
}

.row-text {
    text-align: center;
    padding: 50px;
    
    h4 {
        padding: 10px;
        font-size: 23px;
    }
    
    p {
        padding: 15px;
    }
}

.side-text {
    span {
        font-weight: bold;
    }

    h4 {
        padding-top: 20px;
        font-size: 50px;
    }

    p {
        font-weight: bold;
        font-size: 17px;
        max-width: 500px;
        margin-bottom: 30px;
    }
}