$primarycolor: #1e3932;
$starbucksgreen: #006241;
$mediumgreen: #00754a;
$lightgreen: #d4e9e2;
$neutral: #f2f0eb;
$gray: #7676;
$white: #FFFF;

$fontdetail: "Oswald", Arial, Helvetica, sans-serif;
$fontserif: "Playfair", 'Times New Roman', Times, serif;
// $fontmain: Arial, Helvetica, sans-serif;