#footer {
    color: $white;
    background-color: $primarycolor;
    position: relative;
    font-size: 13px;
    height: min-content;
    padding: 50px;
    padding-bottom: 20px;

    p {
        text-align: center;
    }

    #logo-center {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #text-field {
        color: $white;
        border-bottom: 1px solid rgba(206, 227, 221, 0.28);
        border-radius: 8px;
        width: 600px;
        height: 30px;
        min-height: 0;
        font-size: 13px;
    }

    .v-messages__message {
        color: $error;
        font-size: 10px;
        text-align: center;
    }

    .custom-placeholer-color input::placeholder {
        color: $white !important;
        opacity: 1;
    }

    #register {
        button {
            text-transform: initial;
            font-weight: 600;
        }
    }

    a {
        text-decoration: none;
        color: $white;
    }

    .about a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
    }
    
    .nav {
        margin-top: 40px;
        opacity: 0.52;
        font-size: 13px;
        width: 70%;
    }

    .logos {
        margin-top: 40px !important;
        width: 30%;
        margin: 0;
    }

    .end {
        opacity: 0.52;
        font-size: 10px;
    }
}