.swiper-pagination-bullet {
    background-color: black;
    opacity: .25;
}

.swiper-pagination-bullet-active {
    background-color: $white;
    opacity: 1;
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: "";
}

.swiper-button-next, .swiper-button-prev {
    margin: 0;
    width: fit-content;

    svg {
        transition: height 1s;
        height: 100px;
    }

    :hover {
        height: 200px;
    }
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
    transform: scaleX(-1);
}

