#products {
    padding: 50px;
    color: $primarycolor;
    text-align: center;

    h3 {
        font-size: 35px;
    }

    p {
        color: $starbucksgreen;
    }

    .product {
        max-width: 400px;
        margin-inline: 10px;

        img {
            width: 280px;
        }

        .title {
            font-weight: 600;
        }

        .by {
            font-size: 15px;
        }

        .discount {
            margin-right: 10px;
            text-decoration: line-through;
        }

        .up-btn {
            border: 1px solid $primarycolor;
            color: $primarycolor;
            height: 25px;
            margin-inline: 15px;
            width: 25px;
            font-weight: bolder;
            border-radius: 50%;
        }

        .up-btn:hover {
            background-color: $primarycolor;
            color: $white;
        }
        
    }
}