#recipes {
    padding: 50px;
    padding-bottom: 150px;
    text-align: center;
    color: $primarycolor;

    p {
        margin-top: 15px;
    }

    .recipe-card {
        height: 520px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .swiper-slide {
        background-color: $neutral;
        padding-bottom: 50px;
    }

    .serif-text {
        font-size: 50px;
    }
    
    .detail-text, .link {
        color: $starbucksgreen;
        font-weight: 500;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }

    .swiper-button-prev {
        transform: scaleX(1);
        left: 9%;
    }

    .swiper-button-next {
        right: 9%;
    }
    
    .swiper-button-next, .swiper-button-prev {
        color: $primarycolor;
        position: relative;

        :hover {
            height: 520px;
        }
    }
}